@{
    ViewData["Bienvenidos"] = "bienvenidos";
}

<div class="text-center">
    <img src="~/css/logo_cft.jpg" alt="CFT ARICA" width="700" height="500" />
    <h1 class="display-4">Le damos la nienvenidos a CFT ESTTAL ARICA Y PARINACOTA</h1>
    <a href="https://localhost:7068/Estudiantes" target="_blank">
        <button style="
          background-color: cornflowerblue;
          color: rgb(240, 243, 246);
          border-radius: 8px;
          height: 50px;
          width: 200px;
          font-size: 18px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
            sans-serif;
        ">
            Estudiante
        </button>
    </a>
    <a href="https://localhost:7068/Asignaturas" target="_blank">
        <button style="
          background-color: cornflowerblue;
          color: rgb(240, 243, 246);
          border-radius: 8px;
          height: 50px;
          width: 200px;
          font-size: 18px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
            sans-serif;
        ">
            Asignaturas
        </button>
    </a>
    <a href="https://localhost:7068/AsignaturaHasEstudiantes" target="_blank">
        <button style="
          background-color: cornflowerblue;
          color: rgb(240, 243, 246);
          border-radius: 8px;
          height: 50px;
          width: 200px;
          font-size: 18px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
            sans-serif;
        ">
            Lista
        </button>
    </a>
    <p>Si quiere mas información <a href="https://cftestatalaricayparinacota.cl/">entre Link</a>.</p>
</div>
